@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.body {
    background-color: gray;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    position: sticky;
    width: 100%;
    font-size: 22px;
    gap: 100px;
  }  

.header .nav-item {
    gap:10px;
    padding: 30px;
}

.header2 {
    display:flex;
    background-color: rgb(124, 209, 12); 
    justify-content: center;
    align-content: center;
}


/* fotos de productos recomendados*/

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    gap:5px;
    width: 100vh;
}


.formulario1 {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.preguntas {
    margin: 2rem;
    font-size: medium;
    padding: 0.25rem;
    text-align: justify;
    background-color: grey;
}

.fotoportada {
    background-color: #242222;
    width: 30%;
}

.carrusel {
    z-index:5;
}

.footer  {
    display: flex;
    justify-content: space-between;
    background-color: #171718;
    align-content: space-between;
    margin-top: 20px;
}

footer ul li {
    list-style: none;
    color: whitesmoke;
    margin-left: 3rem;
    margin-right: 5rem;
    padding: 2px;
    font-size: 15px;
}

footer ul {
    margin-top:20px;
}


/*redes sociales*/

.redes{
    cursor: pointer;
    font-size: 50px;
    margin: 2rem;
    gap:15px;
    transition: .2s;
}

.redes i:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
    filter: none;
    transition: 0.5s;
}
.container {
    margin:10px;
    font-size: 1.5rem;
    display: block;
    text-align: center;
}

.redes .fb:hover {
    color:#181dc1;
}

.redes .tw:hover {
    color:#0077b6;
}

.redes .ig:hover {
    color:#ef476f;
}

.redes .pi:hover {
    color:red; 
}

.redes .li:hover {
    color:#0077b6;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 75%;

}

.seguinos {
    margin: 1rem;
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;
    color: black;
    flex: auto;
    justify-content: space-between;
    row-gap: 0rem;
}

h3 {
    display: flex;
    color: whitesmoke;
    margin: 3rem;
    padding-inline-start: 5rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;;
}

.marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0.25rem;
    gap: 0.25rem;
    width: 100%;
    flex-wrap: wrap;
    cursor: pointer;
}

/*logo whatsapp fixed */


.whatsapp {
    position: fixed;
    bottom: 0;
    background-color: none;
    margin-right: 10px;
    cursor: pointer;
}

h2 {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
}

.comocompro {
    display: flex;
    align-content: center;
    margin-bottom: 2rem;
    margin-inline-start: 3rem;
    margin: 5rem;
}

div .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
    padding: 2px;
}


/*tienda*/
.cartitas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 3rem;
    border-radius: 15rem;
    margin: 5px;
    gap: 0.5rem;
    text-align: center;


}

section div img {
    height: 300px;
    object-fit: cover;


}

.titulos {
    display: flex;
    font-size:35px;
    padding:20px;
    font-weight: bold;
    justify-content: center;    
}

.menu_superior {
    display: flex;
    padding:5px;
    margin:5px;
    justify-items: left;
    align-items: center;
    gap:2rem;
    border-radius: 2rem;
    font-size: medium;
    font-weight: bold;
    }

.card-img-top {

    height: 10;
    object-fit: cover;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text {
    text-align: center;
    padding-left: 100px;
}

.footer_list a{
    text-decoration: none;
    color: whitesmoke;
    
}