@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.body {
    background-color: gray;
}

/*HEADER*/

.header {
    display: grid;
    grid-template-columns: 1fr;
    position: sticky;
    top: 0;
    z-index: 6;
}

.navbar {
    display: flex;
    position: sticky;
    font-size: 22px;
    gap: 100px;
}

.header .nav-item {
    gap: 10px;
    padding: 30px;

}

.header2 {
    display: flex;
    background-color: rgb(199, 201, 197);
    justify-content: center;
    align-content: center;
    color: red;
    font-weight: bold;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #171718;
    align-content: space-between;
    margin-top: 20px;
}

footer ul li {
    list-style: none;
    color: whitesmoke;
    margin: 4.5px;
    padding: 2px;
    font-size: 15px;
}

footer ul {
    margin-top: 20px;
}

.footer_list a {
    text-decoration: none;
    color: whitesmoke;
}

/*redes sociales*/

.redes {
    cursor: pointer;
    font-size: 50px;
    margin: 2rem;
    gap: 15px;
    transition: .2s;
}

.redes i:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
    filter: none;
    transition: 0.5s;
}

.container {
    margin: 10px;
    font-size: 1.5rem;
    display: block;
    text-align: center;
}

.redes .fb:hover {
    color: #181dc1;
}

.redes .tw:hover {
    color: #0077b6;
}

.redes .ig:hover {
    color: #ef476f;
}

.redes .pi:hover {
    color: red;
}

.redes .li:hover {
    color: #0077b6;
}



/* fotos de productos recomendados*/

.grilla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 1.5px;
}

.guitarras {
    margin: 20px;
    max-width: 200px;
    min-width: 200px;
    box-sizing: border-box;
    cursor: pointer;
}

.guitarras img {
    width: 200px;
}

.marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 0.75rem;
    max-width: 150px;
    min-width: 150px;
    cursor: pointer;
}

/* FORMULARIO CONTACTO */

.formulario1 {
    display: flex;
    justify-content: center;
    margin: 15px;
    width: 450px;
}

/*PREGUNTAS FRECUENTES*/

.preguntnas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    text-align: justify;
    background-color: grey;
    width: 60%;
    margin: 5rem;
}

/*PORTADA INDEX*/

.fotoportada {
    background-color: #242222;
    width: 30%;
}

.carrusel {
    z-index: 5;
}

.marcas img {
    width: 150px;
}

/*QUIENES SOMOS*/
iframe .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    margin: 5px;
}

.seguinos {
    margin: 1rem;
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;
    color: black;
    flex: auto;
    justify-content: space-between;
    row-gap: 0rem;
}

/*logo whatsapp fixed */

.whatsapp {
    display: flex;
    align-items: end;
    justify-content: right;
    position: fixed;
    bottom: 0;
    cursor: pointer;
    font-size: 75px;
    color: black;
    right: 0;
    padding: 1px;
    margin: 30px;
}

.whatsapp:hover {
    color: green;
    transition: 0.5s;
}

.comocompro {
    display: flex;
    align-content: center;
    margin-bottom: 2rem;
    margin-inline-start: 3rem;
    margin: 5rem;
}

/*tienda*/
.cartitas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    margin: 20px;
}

img .card-img-top {
    padding: 5px;
}

.titulos {
    display: flex;
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
    justify-content: center;
}

.menu_superior {
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-items: left;
    align-items: center;
    gap: 2rem;
    border-radius: 2rem;
    font-size: medium;
    font-weight: bold;
}

div .card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 300px;
    min-width: 300px;
    cursor: pointer;
}

div .card img {
    width: 75px;
    padding-top: 15px;
}

.card-text {
    text-align: center;
    font-size: 20px;
}

.card-title {
    font-weight: bold;
}



/* MEDIA QUERIES */

@media (max-width: 650px) {
    div i {
        display: flex;
        padding: 5px;
        font-size: 20px;
        gap: 1.5px;
    }

    iframe .mapa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        padding: 10px;
    }

    .cartitas {
        grid-template-columns: 1fr;
    }


    .footer ul li {
        margin: 2.5px;
    }

    form {
        margin: 1rem;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accordion {
        width: 70%;
        margin-left: 55px;
    }

    .mapa {
        margin: 5px;
        width: 50vh;
        height: 50vh;
    }

    .marcas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: auto;
        padding: 5px;
        
    }

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


 

    footer {
        width: 100%;
    }

    .footer2 {
        width: auto;
    }



}