.body {
    background-color: grey;
}


form {
    @include estilo-formulario;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 100%;
    }
}

    button {
        margin-bottom: 15px;


        .formulario-consulta {
            width: 100%;
           
    }
}

.formulario-usuario {
    min-width: 50%;


@include mobile {
    min-width: 60%;
}

@include tablet {
    min-width: 60%;
}

}

.titulos {
    @include estilo-titulos;

    @include mobile {
        font-weight: lighter;
    }

    @include tablet {
        font-weight: lighter;
    }
}