
form {
    
    @include mobile {
        min-width: 60%;
    }

    @include tablet {
        min-width: 60%;
    }
}

.titulos {
    @include estilo-titulos;

}

.contacto-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-usuario {
    width: 70%;
    padding-left: 10px;
    
}

.formulario-consulta{
    width: 70%;
    padding-right: 10px;
    padding-bottom: 15px;
}