.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 6;
    display: inline;
    width: 100%;

    img {
        max-width: 200px;
        overflow: hidden;
        background-color: white;
    }

   ul {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 15px;
    gap:40px;
    
   }

    .header2 {
        display: flex;
        background-color: black;
        justify-content: center;
        align-content: center;
        color: whitesmoke;
        font-weight: bold;
        padding: 2.5px;


        @include mobile {
            width: 100%;
            text-align: center;
            padding: 3px;
        }

        @include tablet {
            width: 100%;
            text-align: center;
        }
    }



    .iconos-header {
        color: white;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        gap: 25px;
        margin-right: 10px;

        @include desktop {
            display: none;
        }

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

    }
}