main {
    background-color: $colorprincipal;
}

.tarjetas-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    color: white;
    width: 70%;
    margin:auto;


    @include tablet {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
       
    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    img {
        width: 100%;
      

        
    }

    .card-body {
        max-width: 100%;
        justify-content: center;

    }

    .card-index {
        background-color: black;
        gap: 10px;
        padding-bottom: 0.5rem;
    }

    .texto {
        display: flex;
        text-align: justify;
        padding: 15px;
        font-weight: bold;
        width: 100%;

        @include tablet {
            width: 100%;
            text-align: justify;
            padding: 5px;
            margin: 5px;
        }

        @include mobile {
            width: 100%;
            text-align: justify;
            padding: 5px;
            margin: 5px;
        }
    }

    a {
        margin: 15px;
        font-weight: bold;

        &:hover {
            transition: 0.5s;
            background-color: red;
        }
    }

}

.grilla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    gap: 1.5px;


    .guitarras {
        margin: auto;
        max-width: 200px;
        min-width: 200px;
        box-sizing: border-box;
        cursor: pointer;

        img {
            width: 200px;
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            padding: 5px;
            max-width: 100%;


            &:hover {
                border-color: black;

            }
        }
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: x-small;
        margin: auto;

    }
}

.marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;

    img {

        padding: 5px;
        gap: 0.75rem;
        max-width: 150px;
        min-width: 150px;
        cursor: pointer;
        background-color: transparent;
        margin-bottom: 20px;
        justify-content: center;

        &:hover {
            transform: scale(1.15);
            transition: 0.5s;

        }

    }

    @include tablet {

        align-items: center;
        margin: 5px;
        justify-content: center;

    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 5px;
        justify-content: center;
    }
}

.portada {
   
    

    img{
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.4;
        position: relative;
        width: 100%;

        @include desktop {
            width: 90%;
            margin:auto;
        }

        @include tablet {
            width: 90%; 
            margin:auto; 
        }

        @include mobile {
            width: 90%; 
            margin:auto; 
        }
    }


    .parrafo {

    
        
        display: flex;
        text-align: justify;
        margin: 20px;
        font-weight: bold;
        font-size: x-large;

        @include desktop {
            width: 100%;
            font-size: large;
        }

        @include tablet {
            width: 80%;
            font-size: medium;
            margin:auto;
            
        }

        @include mobile {
            width: 80%;
            font-size: small;
            margin:auto;
           
        }





    }




}