.portada {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;



    img {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        /*
        transform:translate(-50%,-50%); 
        */


        @include desktop {
            width: 100%;
            padding: auto;

        }

        @include tablet {
            width: 100%;
            padding: auto;

        }

        @include mobile {
            width: 90%;

            margin-top: 10px;
        }
    }

    .parrafo {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        padding: 40px;
        font-size: x-large;
        background-color: white;
        margin: 20px;

        @include desktop {
            width: 100%;
            font-size: large;
        }

        @include tablet {
            width: 80%;
            font-size: medium;
            margin: auto;

        }

        @include mobile {
            width: 80%;
            font-size: small;
            margin: auto;

        }
    }
}



.tarjetas-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;
    width: 100%;
    background-color: black;
    gap: 15px;
    justify-content: center;
    justify-items: center;



    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-items: center;
        justify-content: center;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    img {
        width: 100%;
    }

    .card-body {
        width: 100%;
        justify-content: end;


    }

    .card-index {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: 80%;

    }

    .texto {
        display: flex;
        text-align: justify;
        padding: 15px;
        font-weight: bold;
        width: 100%;
        color: black;

        @include tablet {
            width: 100%;
            text-align: justify;
            padding: 10px;
            margin: 5px;
        }

        @include mobile {
            width: 100%;
            text-align: justify;
            padding: 10px;
            margin: 5px;
        }
    }

    a {
        margin: 10px;
        font-weight: bold;

        &:hover {
            transition: 0.5s;
            background-color: rgb(89, 23, 23);
        }
    }

}

.grilla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    gap: 1.5px;


    .guitarras {
        margin: auto;
        max-width: 200px;
        min-width: 200px;
        box-sizing: border-box;
        cursor: pointer;

        img {
            width: 200px;
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
            padding: 5px;
            max-width: 100%;
            overflow: hidden;


            &:hover {
                border-color: black;

            }
        }
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: x-small;
        margin: auto;

    }
}

.marcas {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 5px;

    img {

        padding: 5px;
        gap: 0.75rem;
        max-width: 150px;
        min-width: 150px;
        cursor: pointer;
        background-color: transparent;
        margin-bottom: 20px;
        justify-content: center;
        color: red;

        &:hover {
            transform: scale(1.15);
            transition: 0.5s;
            color: rgba(107, 18, 18, 0.458);

        }

    }


    i {
        font-weight: bolder;
        font-size: x-large;
        cursor: pointer;
        padding: 10px;

        &:hover {
            transform: scale(1.15);
            transition: 0.5s;

        }

        @include desktop {
            display: none;
        }


        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }


    }

    @include tablet {

        align-items: center;
        margin: 5px;
        justify-content: center;

    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 5px;
        justify-content: center;
    }

}