@media only screen and (max-width: 1200px) {}














@media only screen and (max-width: 990px) {
    .portada {
        flex-direction: column;

        img {
            width: 100%;
        }


    }

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        align-items: center;
    }

    .marcas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }


    .mapa {
        max-width: 75%;
    }

    .cartitas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

    }

    .header2 {
        display: flex;
        text-align: center;
    }


    .info-nosotros iframe {
        display: none;
    }

    .info {
        display: flex;
        align-items: center;
        margin-left: 5px;
        padding-right: 15px;
    }


    .QuienesSomos {
        font-size: large;
    }

    .tarjetas-index {
        grid-template-columns: 1fr;
    }


    .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;

    }

}


@media only screen and (max-width: 768px) {
    .portada {
        flex-direction: column;

        img {
            width: 100%;
        }

    }

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.025px;
        margin: 25px;
    }

    .marcas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        img {
            width: 90px;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer_list {
        display: flex;

        flex-direction: column;

        li {
            gap: 555px;
        }
    }


    .mapa {
        max-width: 75%;
    }

    .cartitas {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

    }

    .header2 {
        display: flex;
        text-align: center;
    }

    .info-nosotros iframe {
        display: none;
    }

    .info {
        margin-left: 0.5px;
    }

    .info li {
        display: flex;
        align-items: center;
        padding-right: 15px;
        width: 75%;
        margin: 0.5px;
        align-content: center;
        text-align: left;
        position: static;

    }

    .QuienesSomos {
        font-size: smaller;
    }

    .tarjetas-index {
        grid-template-columns: 1fr;
    }


    .contenedor {

        .contenedor-item {

            .items {

                grid-template-columns: 1fr 1fr;
                width: 100%;
            }
        }

    }

    .valoraciones {
        grid-template-columns: 1fr;
        width: 100%;
    }

}

@media only screen and (max-width: 576px) {
    .portada {
        flex-direction: column;

        img {
            width: 100%;
        }


    }



    .navbar {

        display: flex;
        align-items: space-between;
        justify-content: center;
        margin-left: 10px;
    }



    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5px;
        width: 100%;
    }

    .marcas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;


        img {
            width: 70px;
        }

    }

    .footer {
        .redes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 10px;
        }

    }

    .footer_list li {
        gap: 1.5px;


    }

    .mapa {
        max-width: 75%;
    }

    .cartitas {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

    }

    .header2 {
        display: flex;
        text-align: center;
    }

    .parrafo {
        font-size: medium;
    }


    .info-nosotros iframe {
        display: none;
    }

    .info li {
        display: flex;
        align-items: center;
        padding-right: 15px;
        width: 75%;
        margin: 0;
        flex-basis: auto;
    }



    .contacto {
        display: flex;
        width: 50%;
        height: 50vh;
        margin: 1.5px;
    }

    .tarjetas-index {
        grid-template-columns: 1fr;
    }


    .contenedor-item {

        grid-template-columns: 1fr 1fr;
        width: 100%;


    }

    
    .valoraciones {
        grid-template-columns: 1fr;
        width: 100%;
    }


}