.preguntas-frecuentes {
    display: flex;
    justify-content: center;
    position: relative;


}


.accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 40px;

    @include tablet {
        width: 80%;
    }

    @include mobile {
        width: 90%;
    }

}


.como-comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;




    .proceso-compra {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 20px;
        padding: 30px;
        flex-direction:row;



        .icono-proceso {
            display: flex;
            align-items: center;
            
            justify-content: space-between;
            background-color: $colorsecundario;
            font-size: 5rem;
            font-weight: bolder;
            width: 28%;
            padding: 25px;
            gap: 25px;
            border-radius: 10px;
            text-align:left;

            &:hover {
                box-shadow: 0 0 10px rgb(109, 14, 14);
                scale: 1.05;
            }

            @include desktop {
                display:flex;
                flex-direction: column;
            }

            @include tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 3rem;
                width: 60%;

            }

            @include mobile {
                display: grid;
                grid-template-columns: 1fr;
                font-size: 3rem;
                width: 80%;
            }



            i {
                display:flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        

        }

        .texto-proceso {
            text-align: justify;
            font-size: medium;
            font-weight: bold;
        }


    }
























}