
    .nosotros-imagen {

        padding: 2rem 3rem;
        text-align: center;
        color: black;
        border: 3px solid #fff;
       
        backdrop-filter: blur(10px);
      
     
        
        img {
            max-width: 40px;
           width: 100%;
        vertical-align: top;
        border: 0;
            

            @include tablet {
                display: none;
            }

            @include mobile {
                display: none;
            }
        }
    }

    .parrafo-nosotros {
        background-color: rgba(128, 128, 128, 0.477);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 3.5rem;
        color:white;
        text-align: end;

    }


.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 80%;

    .info-nosotros {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        padding: 25px;

        ul {


            li {
                font-weight: bold;
                gap: 15px;
                margin-right: 50px;
                margin-top: 20px;
                list-style: none;
            }

            i {
                padding: 15px;
                cursor: pointer;
            }
        }

        .mapa {

            width: 100%;
        }
    }
}


.valoraciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    @include tablet {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .valoracion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .box-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @include mobile {
            flex-wrap: wrap;
            width: 100%;

        }

        @include tablet {
            flex-wrap: wrap;
            width: 100%;
        }

        @include desktop {
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .coment-box {
        max-width: 500px;
        background-color: white;
        padding: 10px;
        margin: 15px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 3px 3px 25px black;

        &:hover {
            margin-top: 12px;

        }


    }

    .perfil {
        display: flex;
        align-items: center;
    }

    .perfil-imagen {
        width: 70px;
        height: 70px;
        box-shadow: 2px 2px 30px black;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .nombre {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        strong {
            color: black;
            font-size: 18px;
            padding: 2px;

        }

        span {
            color: $colorprincipal;
            margin-top: 2px;
        }
    }

    .comentario {
        p {
            color: black;

        }
    }

    .star {
        display: flex;
        flex-direction: row;

        i {
            color: rgb(217, 217, 0);
        }


    }

    @include mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .valoracion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .box-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .coment-box {
        background-color: white;
        padding: 20px;
        margin: 15px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 3px 3px 25px black;

        &:hover {
            margin-top: 12px;

        }


    }

    .perfil {
        display: flex;
        align-items: center;
    }

    .perfil-imagen {
        width: 70px;
        height: 70px;
        box-shadow: 2px 2px 30px black;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .nombre {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        strong {
            color: black;
            font-size: 18px;
            padding: 2px;

        }

        span {
            color: gray;
            margin-top: 2px;
        }
    }

    .comentario {
        p {
            color: black;

        }
    }

    .star {
        display: flex;
        flex-direction: row;

        i {
            color: rgb(217, 217, 0);
        }

    }



}