.parrafo-nosotros {
    @include estilo-titulos;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    text-align: left;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    width: 90%;

    img {
        width:60%;
    }

}

.info-nosotros {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    margin:40px;
    gap:20px;
   


    .lista-nosotros {
        color:black;
        margin-right: 26px;
        list-style: none;
        font-size: 20px;
        
        .bi {
            padding: 15px;
        }


    }


    iframe {
        width: 600px;
    }
}






/* CAJITAS DE VALORACIONES */

.valoraciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    @include tablet {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .valoracion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .box-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @include mobile {
            flex-wrap: wrap;
            width: 100%;

        }

        @include tablet {
            flex-wrap: wrap;
            width: 100%;
        }

        @include desktop {
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .coment-box {
        max-width: 500px;
        background-color: white;
        padding: 10px;
        margin: 15px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 3px 3px 25px black;

        &:hover {
            margin-top: 12px;

        }


    }

    .perfil {
        display: flex;
        align-items: center;
    }

    .perfil-imagen {
        width: 70px;
        height: 70px;
        box-shadow: 2px 2px 30px black;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .nombre {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        strong {
            color: black;
            font-size: 18px;
            padding: 2px;

        }

        span {
            color: $colorprincipal;
            margin-top: 2px;
        }
    }

    .comentario {
        p {
            color: black;

        }
    }

    .star {
        display: flex;
        flex-direction: row;

        i {
            color: rgb(217, 217, 0);
        }


    }

    @include mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .valoracion {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .box-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .coment-box {
        background-color: white;
        padding: 20px;
        margin: 15px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 3px 3px 25px black;

        &:hover {
            margin-top: 12px;

        }


    }

    .perfil {
        display: flex;
        align-items: center;
    }

    .perfil-imagen {
        width: 70px;
        height: 70px;
        box-shadow: 2px 2px 30px black;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .nombre {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        strong {
            color: black;
            font-size: 18px;
            padding: 2px;

        }

        span {
            color: gray;
            margin-top: 2px;
        }
    }

    .comentario {
        p {
            color: black;

        }
    }

    .star {
        display: flex;
        flex-direction: row;

        i {
            color: rgb(217, 217, 0);
        }

    }



}