main {
    width: 100%;
}

.QuienesSomos {
    @include estilo-parrafo;

   
}



.container2 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    gap: 10px;



    .nosotros-imagen {
        display: flex;
        flex-direction: column;
        object-fit: cover;
        margin-right: 15px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .info-nosotros {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;

        padding: 15px;

        li {
            list-style: none;
            font-weight: bold;
            gap: 15px;
            margin-right: 50px;
           
            i {
                padding:15px;
                cursor: pointer;
            }
        }

       

        .info {
            display: flex;
            align-items: center;
            justify-content: center;



            .mapa {
                width: 50%;
            }
        }
    }
    .linea {
        border: none;
        height: 3px !important;
        
        color:black;
       }


}