/*ITEMS DE TIENDA*/

.contenedor-item {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    transition: .3s;
    justify-content: center;
    justify-items: center;

    @include mobile {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: .3s;
        background-color: rgb(255, 255, 255);


        &:hover {
            box-shadow: 0 0 5px black;
            scale: 1.02;
        }

        img {
            width: 50%;
            max-width: 80px;
            min-width: 80px;
            background-color: white;
        }

        .titulo-item {
            display: block;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }

        .precio-item {
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }

        .boton-item {
            display: block;
            margin: 10px auto;
            border: none;
            background: black;
            color: aliceblue;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*CARTITAS DE TIENDA*/


.sector-compras {

    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-inline: 10px;
    width: 100%;


    .card-body {
        color: white;
        padding: 5px;
        width: 30%;
        max-width: 350px;

        .card-img {
            width: 100%;

            &:hover {
                filter: blur(2px);
            }

        }

        @include tablet {
            width: 70%;
        }

    }

    .card-tienda {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: black;

        &:hover {
            background-color: red;
            color:white;
        }
       
    }

    p {
        margin-bottom: 0;

       
    }
}


.texto {
    display: flex;
    text-align: justify;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    width: 100%;
    color: whitesmoke;

    @include tablet {
        width: 100%;
        text-align: justify;
        padding: 10px;
        margin: 5px;
    }

    @include mobile {
        width: 100%;
        text-align: justify;
        padding: 10px;
        margin: 5px;
    }
}

.texto2 {
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    padding:5px;
}