$colorprincipal: grey;
$colorsecundario: whitesmoke;


@mixin estilo-titulos {
    font-size: xX-large;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
}

@mixin estilo-parrafo {
    font-size: large;
    text-align: justify;
    width: 100%;
}


@mixin estilo-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    color: white;
    margin-top:20px;
    background-color: white;
}