@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Quicksand:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: white;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 6;
  display: inline;
  width: 100%;
}
.header img {
  max-width: 200px;
  overflow: hidden;
  background-color: white;
}
.header ul {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 40px;
}
.header ul:hover {
  color: red;
}
.header .header2 {
  display: flex;
  background-color: black;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
  font-weight: bold;
  padding: 2.5px;
}
@media screen and (max-width: 576px) {
  .header .header2 {
    width: 100%;
    text-align: center;
    padding: 3px;
  }
}
@media screen and (max-width: 768px) {
  .header .header2 {
    width: 100%;
    text-align: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #171718;
  align-content: center;
  width: 100%;
  /*REDES SOCIALES*/
}
.footer img {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  margin: 15px;
}
.footer a {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}
.footer ul {
  list-style: none;
  margin-top: 25px;
  gap: 30px;
  padding: 30px;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .footer ul {
    padding: 10px;
  }
}
.footer ul .whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  font-size: 75px;
  color: green;
  padding: 15px;
  background-color: transparent;
}
.footer ul .whatsapp:hover {
  color: black;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .footer ul .whatsapp {
    margin-right: 10px;
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .footer ul .whatsapp {
    margin-right: 10px;
    font-size: 50px;
  }
}
.footer ul hr {
  height: 3px;
  background-color: white;
}
.footer ul h6 {
  color: whitesmoke;
  font-weight: bold;
}
.footer .redes {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 2rem;
  gap: 15px;
  transition: 0.2s;
}
.footer .redes a {
  color: rgba(45, 45, 51, 0.6588235294);
}
.footer .redes .fb:hover {
  color: #181dc1;
}
.footer .redes .tw:hover {
  color: #0077b6;
}
.footer .redes .ig:hover {
  color: #ef476f;
}
.footer .redes .pi:hover {
  color: red;
}
.footer .redes .li:hover {
  color: #0077b6;
}
@media screen and (max-width: 576px) {
  .footer .redes {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .footer .redes {
    display: flex;
    flex-wrap: wrap;
  }
}
.footer .redes i:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  filter: none;
  transition: 0.5s;
}
.footer .container {
  margin: 10px;
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.desarrollado {
  padding: 2px;
  font-size: 1rem;
  color: black;
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .desarrollado {
    margin: 5px;
  }
}

.portada {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.portada img {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.portada img:hover {
  filter: blur(2px);
}
@media screen and (max-width: 990px) {
  .portada img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .portada img {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .portada img {
    width: 100%;
    margin-top: 10px;
  }
}
.portada .parrafo {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 40px;
  font-size: x-large;
  background-color: white;
  margin: 20px;
}
@media screen and (max-width: 990px) {
  .portada .parrafo {
    width: 100%;
    font-size: large;
  }
}
@media screen and (max-width: 768px) {
  .portada .parrafo {
    width: 80%;
    font-size: medium;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .portada .parrafo {
    width: 80%;
    font-size: small;
    margin: auto;
  }
}

.tarjetas-index {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
  width: 100%;
  gap: 15px;
  justify-content: center;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .tarjetas-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .tarjetas-index {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.tarjetas-index .card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
}
.tarjetas-index .card-index {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}
.tarjetas-index .card-index .card-img-top {
  width: 100%;
}
.tarjetas-index .card-index .card-img-top:hover {
  filter: blur(2px);
  border-style: none;
}
@media screen and (max-width: 576px) {
  .tarjetas-index .card-index {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
}
.tarjetas-index .texto {
  display: flex;
  text-align: justify;
  padding: 15px;
  font-weight: bold;
  width: 100%;
  color: white;
}
@media screen and (max-width: 768px) {
  .tarjetas-index .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}
@media screen and (max-width: 576px) {
  .tarjetas-index .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}
.tarjetas-index a {
  margin: 10px;
  font-weight: bold;
  width: 20%;
  border-radius: 0;
  background-color: black;
  color: white;
}
.tarjetas-index a:hover {
  transition: 0.5s;
  background-color: red;
}

.marcas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 5px;
}
.marcas img {
  padding: 5px;
  gap: 0.75rem;
  max-width: 150px;
  min-width: 150px;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 20px;
  justify-content: center;
  color: red;
}
.marcas img:hover {
  transform: scale(1.15);
  transition: 0.5s;
  color: rgba(107, 18, 18, 0.458);
}

.parrafo-nosotros {
  font-size: xX-large;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.container2 {
  background: rgba(0, 0, 0, 0.566);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: left;
  flex-direction: row;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 40px;
  padding-right: 15px;
  color: white;
}
@media screen and (max-width: 768px) {
  .container2 img {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .container2 img {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .container2 {
    padding: 15px;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .container2 {
    padding: 15px;
    flex-direction: column;
    justify-content: center;
  }
}

.info-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  gap: 20px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .info-nosotros {
    justify-content: center;
    width: 80%;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .info-nosotros {
    justify-content: center;
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .info-nosotros .parrafo-nosotros {
    margin-left: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .info-nosotros .parrafo-nosotros {
    margin-left: 10px;
    font-size: 24px;
  }
}
.info-nosotros .lista-nosotros {
  color: black;
  margin-right: 26px;
  list-style: none;
  font-size: 20px;
}
.info-nosotros .lista-nosotros .bi {
  padding: 15px;
}
@media screen and (max-width: 576px) {
  .info-nosotros .lista-nosotros {
    font-size: 18px;
    font-weight: lighter;
  }
}
.info-nosotros iframe {
  width: 600px;
}
@media screen and (max-width: 768px) {
  .info-nosotros iframe {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .info-nosotros iframe {
    width: 80%;
  }
}

/* CAJITAS DE VALORACIONES */
.valoraciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .valoraciones {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.valoraciones .valoracion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.valoraciones .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .valoraciones .box-top {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .valoraciones .box-top {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .valoraciones .box-top {
    flex-wrap: wrap;
    width: 100%;
  }
}
.valoraciones .coment-box {
  max-width: 500px;
  background-color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px black;
}
.valoraciones .coment-box:hover {
  margin-top: 12px;
}
.valoraciones .perfil {
  display: flex;
  align-items: center;
}
.valoraciones .perfil-imagen {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px black;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.valoraciones .perfil-imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.valoraciones .nombre {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.valoraciones .nombre strong {
  color: black;
  font-size: 18px;
  padding: 2px;
}
.valoraciones .nombre span {
  color: grey;
  margin-top: 2px;
}
.valoraciones .comentario p {
  color: black;
}
.valoraciones .star {
  display: flex;
  flex-direction: row;
}
.valoraciones .star i {
  color: rgb(217, 217, 0);
}
@media screen and (max-width: 576px) {
  .valoraciones {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.valoraciones .valoracion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.valoraciones .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.valoraciones .coment-box {
  background-color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px black;
}
.valoraciones .coment-box:hover {
  margin-top: 12px;
}
.valoraciones .perfil {
  display: flex;
  align-items: center;
}
.valoraciones .perfil-imagen {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px black;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.valoraciones .perfil-imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.valoraciones .nombre {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.valoraciones .nombre strong {
  color: black;
  font-size: 18px;
  padding: 2px;
}
.valoraciones .nombre span {
  color: gray;
  margin-top: 2px;
}
.valoraciones .comentario p {
  color: black;
}
.valoraciones .star {
  display: flex;
  flex-direction: row;
}
.valoraciones .star i {
  color: rgb(217, 217, 0);
}

.contenedor-item {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  justify-content: center;
  justify-items: center;
  max-width: 80;
  gap: 15px;
}
@media screen and (max-width: 576px) {
  .contenedor-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.contenedor-item .producto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-style: outset;
  gap: 15px;
  margin-bottom: 10px;
}
.contenedor-item .producto:hover {
  box-shadow: 0 0 5px black;
  scale: 1;
}
.contenedor-item .producto .producto-imagen {
  max-width: 50%;
  contain: cover;
  max-height: 70%;
}
.contenedor-item .producto .producto-detalle {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.contenedor-item .producto .producto-detalle .titulo-item {
  font-weight: bold;
}
.contenedor-item .producto .boton-item {
  background-color: grey;
  border-style: none;
  border-radius: 30px;
  font-weight: bold;
  width: 100%;
}
.contenedor-item .producto .boton-item:hover {
  background-color: darkred;
  color: white;
}
.contenedor-item .producto .precio-item {
  font-weight: bold;
}
@media screen and (max-width: 990px) {
  .contenedor-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*CARTITAS DE TIENDA*/
.sector-compras {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 20px;
  justify-items: center;
}
.sector-compras .card-body {
  color: white;
  width: 30%;
}
.sector-compras .card-body .card-img {
  width: 100%;
}
.sector-compras .card-body .card-img:hover {
  filter: blur(2px);
}
@media screen and (max-width: 768px) {
  .sector-compras .card-body {
    width: 90%;
  }
}
.sector-compras .card-tienda {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
}
.sector-compras .card-tienda:hover {
  background-color: red;
  color: white;
}
.sector-compras p {
  margin-bottom: 0;
}

.texto {
  display: flex;
  text-align: justify;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  width: 100%;
  color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}
@media screen and (max-width: 576px) {
  .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}

.texto2 {
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

/* nav bar filtro productos */
.menu-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin-top: 20px;
}
.menu-carrito .iconos-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
  padding-right: 55px;
  color: white;
  gap: 15px;
  cursor: pointer;
  text-decoration: none;
}
.menu-carrito .iconos-header a {
  color: white;
}
.menu-carrito .boton-menu {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 900;
  padding: 1rem;
  font-size: 0.85rem;
  width: 100%;
  text-decoration: none;
}
.menu-carrito .menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 15px;
  width: 100%;
  align-items: center;
  align-content: center;
}
.menu-carrito .menu li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  gap: 25px;
  list-style: none;
}
.menu-carrito .menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.menu-carrito .menu a:hover {
  color: rgb(133, 5, 26);
}
.menu-carrito .menu .active {
  background-color: darkred;
}

@media screen and (max-width: 576px) {
  form {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  form {
    width: 80%;
  }
}

.titulos {
  font-size: xX-large;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .titulos {
    font-size: 20px;
  }
}

.contacto-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 576px) {
  .contacto-main {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 20px;
  }
}

.formulario-usuario {
  width: 70%;
  padding-left: 10px;
}

.formulario-consulta {
  width: 70%;
  padding-right: 10px;
  padding-bottom: 15px;
}
@media screen and (max-width: 576px) {
  .formulario-consulta {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 20px;
  }
}

.preguntas-frecuentes {
  display: flex;
  justify-content: center;
  position: relative;
}

.accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .accordion {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .accordion {
    width: 90%;
  }
}

.como-comprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.como-comprar .proceso-compra {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  padding: 30px;
  flex-direction: row;
}
.como-comprar .proceso-compra .icono-proceso {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  font-size: 5rem;
  font-weight: bolder;
  width: 28%;
  padding: 25px;
  gap: 25px;
  border-radius: 10px;
  text-align: left;
}
.como-comprar .proceso-compra .icono-proceso:hover {
  box-shadow: 0 0 10px rgb(109, 14, 14);
  scale: 1.05;
}
@media screen and (max-width: 990px) {
  .como-comprar .proceso-compra .icono-proceso {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .como-comprar .proceso-compra .icono-proceso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 3rem;
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .como-comprar .proceso-compra .icono-proceso {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 3rem;
    width: 80%;
  }
}
.como-comprar .proceso-compra .icono-proceso i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.como-comprar .proceso-compra .texto-proceso {
  text-align: justify;
  font-size: medium;
  font-weight: bold;
}

.body {
  background-color: white;
}

.carrito-checkout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.carrito-checkout .titulo-principal {
  padding: 20px;
}
.carrito-checkout .carrito-vacio {
  padding: 20px;
}
.carrito-checkout .disabled {
  display: none;
}

.contenedor-carrito .disabled {
  display: none;
}

.detalle-carrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(183, 178, 178);
  padding: 20px;
  align-items: center;
  margin: 20px;
  justify-items: center;
}
.detalle-carrito img {
  max-width: 2.5%;
}
.detalle-carrito .carrito-producto-cantidad {
  display: flex;
  flex-direction: column;
}
.detalle-carrito .carrito-producto-precio {
  display: flex;
  flex-direction: column;
}
.detalle-carrito .carrito-producto-subtotal {
  display: flex;
  flex-direction: column;
}
.detalle-carrito .carrito-producto-eliminar {
  border-style: none;
  background-color: rgb(183, 178, 178);
  font-size: x-large;
}
.detalle-carrito .carrito-producto-eliminar:hover {
  color: darkred;
}

.carrito-acciones {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.carrito-acciones .carrito-acciones-vaciar {
  border-style: none;
  border-radius: 75px;
  background-color: rgb(183, 178, 178);
  padding: 10px;
}
.carrito-acciones .carrito-acciones-vaciar:hover {
  background-color: black;
  color: white;
}
.carrito-acciones .carrito-acciones-derecha {
  display: flex;
  flex-direction: column;
}
.carrito-acciones .carrito-acciones-derecha .carrito-acciones-total {
  display: flex;
  font-weight: bold;
}
.carrito-acciones .carrito-acciones-derecha .carrito-acciones-comprar {
  border-style: none;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  background-color: rgb(183, 178, 178);
  font-weight: bold;
  align-items: center;
  padding: 10px;
}
.carrito-acciones .carrito-acciones-derecha .carrito-acciones-comprar:hover {
  background-color: darkred;
  color: white;
}
.carrito-acciones .disabled {
  display: none;
}/*# sourceMappingURL=styles.css.map */