* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Quicksand:wght@300;400;600&display=swap");
}

.body {
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  position: sticky;
  top: 0;
  z-index: 6;
  display: inline;
}
.header img {
  max-width: 200px;
  overflow: hidden;
  background-color: white;
}
.header ul {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 15px;
  gap: 40px;
}
.header .header2 {
  display: flex;
  background-color: black;
  justify-content: center;
  align-content: center;
  color: whitesmoke;
  font-weight: bold;
  padding: 2.5px;
}
@media screen and (max-width: 576px) {
  .header .header2 {
    width: 100%;
    text-align: center;
    padding: 3px;
  }
}
@media screen and (max-width: 768px) {
  .header .header2 {
    width: 100%;
    text-align: center;
  }
}
.header .iconos-header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2.5rem;
  cursor: pointer;
  padding: 2.5px;
}
@media screen and (max-width: 990px) {
  .header .iconos-header {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .header .iconos-header {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .iconos-header {
    display: none;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #171718;
  align-content: center;
  /*REDES SOCIALES*/
}
.footer img {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  margin: 15px;
}
.footer a {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}
.footer ul {
  list-style: none;
  margin-top: 25px;
  gap: 30px;
  padding: 30px;
}
.footer ul .whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  font-size: 75px;
  color: green;
  margin: 25px;
  background-color: transparent;
}
.footer ul .whatsapp:hover {
  color: black;
  transition: 0.5s;
}
.footer ul hr {
  height: 3px;
  background-color: white;
}
.footer ul h6 {
  color: whitesmoke;
  font-weight: bold;
}
.footer .redes {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 2rem;
  gap: 15px;
  transition: 0.2s;
  color: rgba(45, 45, 51, 0.6588235294);
}
.footer .redes .fb:hover {
  color: #181dc1;
}
.footer .redes .tw:hover {
  color: #0077b6;
}
.footer .redes .ig:hover {
  color: #ef476f;
}
.footer .redes .pi:hover {
  color: red;
}
.footer .redes .li:hover {
  color: #0077b6;
}
@media screen and (max-width: 576px) {
  .footer .redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .footer .redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.footer .redes i:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  filter: none;
  transition: 0.5s;
}
.footer .container {
  margin: 10px;
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.desarrollado {
  padding: 2px;
  font-size: 1rem;
  color: black;
  background-color: white;
  text-align: center;
  text-decoration: none;
}

.portada {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.portada img {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*
  transform:translate(-50%,-50%); 
  */
}
@media screen and (max-width: 990px) {
  .portada img {
    width: 100%;
    padding: auto;
  }
}
@media screen and (max-width: 768px) {
  .portada img {
    width: 100%;
    padding: auto;
  }
}
@media screen and (max-width: 576px) {
  .portada img {
    width: 90%;
    margin-top: 10px;
  }
}
.portada .parrafo {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 40px;
  font-size: x-large;
  background-color: white;
  margin: 20px;
}
@media screen and (max-width: 990px) {
  .portada .parrafo {
    width: 100%;
    font-size: large;
  }
}
@media screen and (max-width: 768px) {
  .portada .parrafo {
    width: 80%;
    font-size: medium;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .portada .parrafo {
    width: 80%;
    font-size: small;
    margin: auto;
  }
}

.tarjetas-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  text-align: center;
  padding: 40px;
  width: 100%;
  background-color: black;
  gap: 15px;
  justify-content: center;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .tarjetas-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .tarjetas-index {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.tarjetas-index img {
  width: 100%;
}
.tarjetas-index .card-body {
  width: 100%;
  justify-content: end;
}
.tarjetas-index .card-index {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
.tarjetas-index .texto {
  display: flex;
  text-align: justify;
  padding: 15px;
  font-weight: bold;
  width: 100%;
  color: black;
}
@media screen and (max-width: 768px) {
  .tarjetas-index .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}
@media screen and (max-width: 576px) {
  .tarjetas-index .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}
.tarjetas-index a {
  margin: 10px;
  font-weight: bold;
}
.tarjetas-index a:hover {
  transition: 0.5s;
  background-color: rgb(89, 23, 23);
}

.grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 1.5px;
}
.grilla .guitarras {
  margin: auto;
  max-width: 200px;
  min-width: 200px;
  box-sizing: border-box;
  cursor: pointer;
}
.grilla .guitarras img {
  width: 200px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35);
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
}
.grilla .guitarras img:hover {
  border-color: black;
}
@media screen and (max-width: 768px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: x-small;
    margin: auto;
  }
}

.marcas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 5px;
}
.marcas img {
  padding: 5px;
  gap: 0.75rem;
  max-width: 150px;
  min-width: 150px;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 20px;
  justify-content: center;
  color: red;
}
.marcas img:hover {
  transform: scale(1.15);
  transition: 0.5s;
  color: rgba(107, 18, 18, 0.458);
}
.marcas i {
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
  padding: 10px;
}
.marcas i:hover {
  transform: scale(1.15);
  transition: 0.5s;
}
@media screen and (max-width: 990px) {
  .marcas i {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .marcas i {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .marcas i {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .marcas {
    align-items: center;
    margin: 5px;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .marcas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 5px;
    justify-content: center;
  }
}

.nosotros-imagen {
  padding: 2rem 3rem;
  text-align: center;
  color: black;
  border: 3px solid #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.nosotros-imagen img {
  max-width: 40px;
  width: 100%;
  vertical-align: top;
  border: 0;
}
@media screen and (max-width: 768px) {
  .nosotros-imagen img {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .nosotros-imagen img {
    display: none;
  }
}

.parrafo-nosotros {
  background-color: rgba(128, 128, 128, 0.477);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
  text-align: end;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 80%;
}
.info .info-nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 25px;
}
.info .info-nosotros ul li {
  font-weight: bold;
  gap: 15px;
  margin-right: 50px;
  margin-top: 20px;
  list-style: none;
}
.info .info-nosotros ul i {
  padding: 15px;
  cursor: pointer;
}
.info .info-nosotros .mapa {
  width: 100%;
}

.valoraciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .valoraciones {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.valoraciones .valoracion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.valoraciones .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .valoraciones .box-top {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .valoraciones .box-top {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .valoraciones .box-top {
    flex-wrap: wrap;
    width: 100%;
  }
}
.valoraciones .coment-box {
  max-width: 500px;
  background-color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px black;
}
.valoraciones .coment-box:hover {
  margin-top: 12px;
}
.valoraciones .perfil {
  display: flex;
  align-items: center;
}
.valoraciones .perfil-imagen {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px black;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.valoraciones .perfil-imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.valoraciones .nombre {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.valoraciones .nombre strong {
  color: black;
  font-size: 18px;
  padding: 2px;
}
.valoraciones .nombre span {
  color: grey;
  margin-top: 2px;
}
.valoraciones .comentario p {
  color: black;
}
.valoraciones .star {
  display: flex;
  flex-direction: row;
}
.valoraciones .star i {
  color: rgb(217, 217, 0);
}
@media screen and (max-width: 576px) {
  .valoraciones {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.valoraciones .valoracion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.valoraciones .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.valoraciones .coment-box {
  background-color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px black;
}
.valoraciones .coment-box:hover {
  margin-top: 12px;
}
.valoraciones .perfil {
  display: flex;
  align-items: center;
}
.valoraciones .perfil-imagen {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px black;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.valoraciones .perfil-imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.valoraciones .nombre {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.valoraciones .nombre strong {
  color: black;
  font-size: 18px;
  padding: 2px;
}
.valoraciones .nombre span {
  color: gray;
  margin-top: 2px;
}
.valoraciones .comentario p {
  color: black;
}
.valoraciones .star {
  display: flex;
  flex-direction: row;
}
.valoraciones .star i {
  color: rgb(217, 217, 0);
}

/*ITEMS DE TIENDA*/
.contenedor-item {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2.5px;
  grid-row-gap: 2.5px;
  width: 100%;
  transition: 0.3s;
  justify-content: center;
  justify-items: center;
}
@media screen and (max-width: 576px) {
  .contenedor-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.contenedor-item .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 10px;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  gap: 5px;
}
.contenedor-item .items:hover {
  box-shadow: 0 0 10px black;
  scale: 1.05;
}
.contenedor-item .items img {
  width: 50%;
  max-width: 80px;
  min-width: 80px;
  background-color: white;
}
.contenedor-item .items .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor-item .items .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.contenedor-item .items .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: black;
  color: aliceblue;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/*CARTITAS DE TIENDA*/
.sector-compras {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px;
  justify-content: center;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .sector-compras {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .sector-compras {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.sector-compras .card-img {
  width: 100%;
}
.sector-compras .card-img img {
  max-width: 400px;
}
.sector-compras .card-body {
  max-width: 400px;
  width: 30%;
  justify-content: end;
  color: white;
  position: relative;
  padding: 10px;
}
.sector-compras .card-tienda {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
}
.sector-compras .texto {
  display: flex;
  text-align: justify;
  justify-content: center;
  padding: 15px;
  font-weight: bold;
  width: 100%;
  color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .sector-compras .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}
@media screen and (max-width: 576px) {
  .sector-compras .texto {
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 5px;
  }
}
.sector-compras .texto2 {
  font-weight: lighter;
  text-align: center;
  cursor: pointer;
}
.sector-compras a {
  margin: 10px;
  font-weight: bold;
}
.sector-compras a:hover {
  transition: 0.5s;
  background-color: rgb(62, 61, 61);
}

@media screen and (max-width: 576px) {
  form {
    min-width: 60%;
  }
}
@media screen and (max-width: 768px) {
  form {
    min-width: 60%;
  }
}

.titulos {
  font-size: xX-large;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.contacto-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario-usuario {
  width: 80%;
  padding-left: 10px;
}

.formulario-consulta {
  width: 80%;
  padding-right: 10px;
}

.preguntas-frecuentes {
  display: flex;
  justify-content: center;
  position: relative;
}

.accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .accordion {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .accordion {
    width: 90%;
  }
}

.como-comprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.como-comprar .proceso-compra {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 20px;
  padding: 30px;
  flex-direction: row;
}
.como-comprar .proceso-compra .icono-proceso {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  font-size: 5rem;
  font-weight: bolder;
  width: 28%;
  padding: 25px;
  gap: 25px;
  border-radius: 10px;
  text-align: left;
}
.como-comprar .proceso-compra .icono-proceso:hover {
  box-shadow: 0 0 10px rgb(109, 14, 14);
  scale: 1.05;
}
@media screen and (max-width: 990px) {
  .como-comprar .proceso-compra .icono-proceso {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .como-comprar .proceso-compra .icono-proceso {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 3rem;
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  .como-comprar .proceso-compra .icono-proceso {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 3rem;
    width: 80%;
  }
}
.como-comprar .proceso-compra .icono-proceso i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.como-comprar .proceso-compra .texto-proceso {
  text-align: justify;
  font-size: medium;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */