* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  position: sticky;
  top: 0;
  z-index: 6;
  width: 100%;
}
.header a {
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
  align-items: baseline;
  font-size: medium;
  gap: 7rem;
  margin: 2rem;
}
.header .iconos-header {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  gap: 2.5rem;
  cursor: pointer;
}
.header img {
  margin: 0;
}
.header input {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 10%;
}
.header .header2 {
  display: flex;
  background-color: rgb(199, 201, 197);
  justify-content: center;
  align-content: center;
  color: red;
  font-weight: bold;
  padding: 2.5px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #171718;
  align-content: center;
}
.footer a {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}
.footer ul {
  list-style: none;
  margin-top: 25px;
  gap: 25px;
}
.footer p {
  text-align: center;
}
.footer .whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  font-size: 75px;
  color: black;
  margin: 25px;
  background-color: transparent;
}
.footer .whatsapp:hover {
  color: green;
  transition: 0.5s;
}

/*REDES SOCIALES*/
.redes {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 2rem;
  gap: 15px;
  transition: 0.2s;
}

.redes i:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  filter: none;
  transition: 0.5s;
}

.container {
  margin: 10px;
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.redes .fb:hover {
  color: #181dc1;
}

.redes .tw:hover {
  color: #0077b6;
}

.redes .ig:hover {
  color: #ef476f;
}

.redes .pi:hover {
  color: red;
}

.redes .li:hover {
  color: #0077b6;
}

/*LOGO WHATSAPP*/
main {
  background-color: grey;
}

.tarjetas-index {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  color: white;
  width: 100%;
  position: static;
}
.tarjetas-index img {
  min-width: 250px;
}
.tarjetas-index .card-index {
  background-color: black;
  gap: 10px;
  padding-bottom: 0.5rem;
  width: 350px;
}
.tarjetas-index .texto {
  text-align: justify;
  padding: 15px;
  font-weight: bold;
}
.tarjetas-index a {
  margin: 15px;
  font-weight: bold;
}
.tarjetas-index a:hover {
  transition: 0.5s;
  background-color: red;
}
@media screen and (max-width: 768px) {
  .tarjetas-index {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  .tarjetas-index {
    flex-direction: column;
    width: 80%;
  }
}

.grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 1.5px;
  overflow: hidden;
}
.grilla .guitarras {
  margin: 20px;
  max-width: 200px;
  min-width: 200px;
  box-sizing: border-box;
  cursor: pointer;
}
.grilla .guitarras img {
  width: 200px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  padding: 3px;
  max-width: 100%;
}
.grilla .guitarras img:hover {
  transform: scale(1.15);
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: x-small;
  }
}

.marcas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}
.marcas img {
  padding: 15px;
  gap: 0.75rem;
  max-width: 150px;
  min-width: 150px;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 20px;
}
.marcas img:hover {
  transform: scale(1.15);
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .marcas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .marcas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: x-small;
    align-items: center;
  }
}

.portada {
  font-size: large;
  text-align: justify;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 20px;
  background-color: gray;
  width: 70%;
}
.portada img {
  width: 500px;
}
.portada .parrafo {
  padding: 15px;
}

main {
  width: 100%;
}

.QuienesSomos {
  font-size: large;
  text-align: justify;
}

.container2 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  gap: 10px;
}
.container2 .nosotros-imagen {
  display: flex;
  flex-direction: column;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  width: 100%;
}
.container2 .nosotros-imagen img {
  width: 100%;
}
.container2 .info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 .info .info-nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 15px;
}
.container2 .info .info-nosotros li {
  list-style: none;
  font-weight: bold;
  gap: 15px;
  margin-right: 50px;
}
.container2 .info .info-nosotros li i {
  padding: 15px;
  cursor: pointer;
}
.container2 .info .info-nosotros .mapa {
  width: 50%;
}

.valoraciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.valoraciones .valoracion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.valoraciones .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.valoraciones .coment-box {
  width: 500px;
  background-color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 25px black;
}
.valoraciones .coment-box:hover {
  margin-top: 12px;
}
.valoraciones .perfil {
  display: flex;
  align-items: center;
}
.valoraciones .perfil-imagen {
  width: 70px;
  height: 70px;
  box-shadow: 2px 2px 30px black;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
.valoraciones .perfil-imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.valoraciones .nombre {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.valoraciones .nombre strong {
  color: black;
  font-size: 18px;
  padding: 2px;
}
.valoraciones .nombre span {
  color: gray;
  margin-top: 2px;
}
.valoraciones .comentario p {
  color: black;
}
.valoraciones .star {
  display: flex;
  flex-direction: row;
}
.valoraciones .star i {
  color: rgb(217, 217, 0);
}

.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
}
.contenedor .contenedor-item {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: 0.3s;
}
.contenedor .contenedor-item .items {
  max-width: 200px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  gap: 5px;
}
.contenedor .contenedor-item .items:hover {
  box-shadow: 0 0 10px black;
  scale: 1.05;
}
.contenedor .contenedor-item .items img {
  width: 100%;
  max-width: 150px;
  min-width: 150px;
  background-color: white;
}
.contenedor .contenedor-item .items .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor .contenedor-item .items .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.contenedor .contenedor-item .items .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background: black;
  color: aliceblue;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

img .card-img-top {
  padding: 5px;
}

nav .pagination {
  color: grey;
  padding: 3rem;
}

.body {
  background-color: grey;
}

form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
form button {
  margin-bottom: 15px;
}

.formulario-consulta {
  width: 100%;
}

.formulario-usuario {
  width: 30%;
}

.titulos {
  font-size: xX-large;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.preguntas-frecuentes {
  display: flex;
  justify-content: center;
  position: relative;
}

.accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 40px;
}

.como-comprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.como-comprar .proceso-compra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  gap: 20px;
  padding: 30px;
}
.como-comprar .proceso-compra .icono-proceso {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  font-size: 5rem;
  font-weight: bolder;
  width: 33%;
  padding: 25px;
  gap: 25px;
  border-radius: 10px;
}
.como-comprar .proceso-compra .icono-proceso:hover {
  box-shadow: 0 0 10px black;
  scale: 1.05;
}
.como-comprar .proceso-compra .texto-proceso {
  text-align: justify;
  font-size: medium;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */